.title-animation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#textPath {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    stroke: #deb116;
    animation: drawTitle 4s linear forwards;
}

@keyframes drawTitle {
    0% {
    stroke-dashoffset: 10000;
    }
    100% {
    stroke-dashoffset: 0;
    }
}
