.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  /* padding: 0 5px; */
  display: flex;
  height: 40px;
}

.progress-value {
  animation: load 2.5s infinite;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #e4cf63;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
